<!--
<ul *ngFor="let pais of paises" >
  <li>{{ pais.name }} - {{ pais.population | number }}</li>
</ul>
-->

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let release of releases" class="col-md-3">
      <div class="card" style="margin-top:30px;">
        <img class="card-img-top" [src]="release.images[0].url" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ release.name }}</h5>
          <p class="card-text"><span *ngFor="let artist of release.artists" class="badge badge-primary">{{ artist.name }}</span></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of items" class="col-md-3">
      <div class="card" style="margin-top:30px;">
        <img class="card-img-top" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.id }}</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>